@font-face {
  font-family: 'mozTT';
  src: url('../fonts/moztt_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mozTT';
  src: url('../fonts/moztt_light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'mozTT';
  src: url('../fonts/moztt_medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font: normal 10px "mozTT", sans-serif;
  background: #fff;
}
body label {
  font-size: 1.6em;
}
body select {
  margin-top: 10px;
}
